<div ng-controller="TodoListController as todoList">
    <form ng-submit="todoList.addTodo()" class="text-center">
        <h3 class="text-left">Agregar Tarea:</h3>
        <div class="row">
            <select required id="categories" ng-model="todoList.selectedCategory" class="form-control col-md-3">
                <option value="">Seleccione una categoría</option>
                <option ng-repeat="categorie in todoList.categories" value="{{categorie.id}}">{{categorie.nombre}}</option>
            </select>
            <div class="col-md-1">&nbsp;</div>
            <input type="text" required ng-model="todoList.todoText" placeholder="Agregar tarea" class="form-control col-md-8">
        </div>
        <br />
        <div class="row">
            <input class="btn btn-primary btn-block" type="submit" value="Agregar">
        </div>
    </form>
    <br />
    <hr>
    <h3>Lista de Tareas</h3>
    <span>{{todoList.remaining()}}</span>
    <br>
    <div>
        <div class="input-group mb-3">
            <input type="text" ng-model="searchText" class="form-control col-md-3" placeholder="Buscar">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">🔍</span>
            </div>
        </div>
    </div>
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos | filter:searchText" ">
            <span class="done-{{todo.done}} ">{{todo.tarea}}</span>
        </li>
    </ul>
</div>
</body>