<!-- Footer -->
<footer class="">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.linkedin.com/in/orozcoleonricardo/"> Ricardo Orozco León</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->