{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tareas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tarea</th>
                <th>Estado</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td><a href="{{ path('tarea_show', { 'id': tarea.id }) }}">{{ tarea.id }}</a></td>
                <td>{{ tarea.tarea }}</td>
                <td>{% if tarea.estado %}Yes{% else %}No{% endif %}</td>
                <td>{% if tarea.fechaCreacion %}{{ tarea.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if tarea.fechaModificacion %}{{ tarea.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tarea_show', { 'id': tarea.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tarea_edit', { 'id': tarea.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarea_new') }}">Create a new tarea</a>
        </li>
    </ul>
{% endblock %}
