{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarea</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarea.id }}</td>
            </tr>
            <tr>
                <th>Tarea</th>
                <td>{{ tarea.tarea }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if tarea.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if tarea.fechaCreacion %}{{ tarea.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if tarea.fechaModificacion %}{{ tarea.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarea_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarea_edit', { 'id': tarea.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
