{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a></td>
                <td>{{ categorium.nombre }}</td>
                <td>{% if categorium.estado %}Yes{% else %}No{% endif %}</td>
                <td>{% if categorium.fechaCreacion %}{{ categorium.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if categorium.fechaModificacion %}{{ categorium.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categoria_show', { 'id': categorium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_new') }}">Create a new categorium</a>
        </li>
    </ul>
{% endblock %}
